
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');

:root {
  --swiper-theme-color: #222;   /* active dot color */
}

/*  home slider */
.swiper-pagination {
  position: relative !important;
  margin-top: 30px; 
}

/* inactive dots */
.swiper-pagination-bullet {
  background: #cfcfcf;
  opacity: 1; 
  width: 8px;
  height: 8px;
}

/* active dot */
.swiper-pagination-bullet-active {
  background: #222;   /* dark dot */
}

@import "tailwindcss";  







